---
import { type CollectionEntry, getCollection } from 'astro:content'
import { getDomainFromUrl } from '@/helpers/url'
import PageLayout from '@/layouts/Page.astro'
import FormattedDate from '@/components/FormattedDate.astro'

export async function getStaticPaths() {
  const articleEntries = await getCollection('articles')
  return articleEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<'articles'>
}

const { entry } = Astro.props

const { data, render } = entry
const { Content } = await render()
---

<PageLayout title={data.title} type="article">
  <Content />

  <p class="italic">
    {
      data.url && (
        <>
          Originally published on
          <FormattedDate date={data.date} />, on
          <a href={data.url} rel="noopener noreferrer">
            {getDomainFromUrl(data.url)}
          </a>
        </>
      )
    }
    {
      !data.url && (
        <>
          <span>Published on</span>
          <FormattedDate date={data.date} />
        </>
      )
    }
  </p>
</PageLayout>

<style>
  :global(h1) {
    font-size: var(--step-5);
  }
</style>
