---
import { promisify } from 'util'
import sizeOf from 'image-size'

import WorkRow from '../components/WorkRow.astro'
import '../styles/global.css'
import { focusAreas } from '../data/focus-areas'
import { clients } from '../data/clients.js'

const getSizeOf = promisify(sizeOf)
const work = (await Astro.glob('../data/work/*.md'))
  .sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf())

const allClients = clients.sort((a, b) => {
  var nameA = a.name.toUpperCase()
  var nameB = b.name.toUpperCase()
  return (nameA < nameB) ? -1 : (nameA > nameB) ? 1 : 0
})

const featuredClients = allClients.filter(item => item.image)
const remainingClients = allClients.filter(item => !item.image)

featuredClients
  .map(async client => {
    await getSizeOf(`./public/images/${client.image}`)
      .then(dimensions => {
        client.width = dimensions.width
        client.height = dimensions.height
        client.aspectRatio = dimensions.height / dimensions.width
      })
      .catch(err => console.error(err))
    return client
  })

---
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>jeremyfrank.dev</title>
  </head>
  <body>
    <main>
      <section class="bg-slate-500 h-screen text-center text-white flex flex-col gap-12 items-center justify-center">
        <img src="/images/jf-logomark.svg" class="smd:h-32 smd:w-32 h-48 w-48 light:invert" alt="">

        <h1>
          <span class="font-serif text-4xl">
            Jeremy Frank
          </span>
          <span class="sr-only">,</span>
          <span class="block text-md">Senior UI Developer</span>
        </h1>
      </section>

      <section class="h-screen text-center flex flex-col gap-12 items-center justify-center px-6">
        <div class="max-w-5xl mx-auto">
          <div class="flex flex-col gap-8 font-serif leading-tight text-2xl md:text-4xl">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sit impedit commodi alias itaque odio at architecto magnam, cupiditate ad accusamus, sed quas illo molestiae.
            </p>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga voluptatum harum aliquam quia expedita deleniti? Voluptatum unde sapiente eligendi. Tempora, non fugiat dicta impedit distinctio at magnam provident nam aliquam.
            </p>
          </div>
        </div>
      </section>

      <section class="bg-slate-50 px-6 py-20">
        <div class="flex flex-col gap-12 items-center justify-center max-w-6xl mx-auto">
          <h2>
            Areas of Focus
          </h2>

          <ul class="grid sm:grid-cols-3 gap-8">
            {focusAreas.map(area => (
              <li class="flex flex-col items-center gap-4">
                <Fragment set:html={area.icon}></Fragment>
                <span class="block font-semibold uppercase">
                  {area.title}
                </span>
                <span class="sr-only">.</span>
                <span class="block self-start">
                  {area.description}
                </span>
                <span class="self-start">
                  {area.favorites.map((fav, index) => (
                    <span>
                      {fav}
                      {index + 1 !== area.favorites.length ? '•' : ''}
                    </span>
                  ))}
                </span>
              </li>
            ))}
          </ul>
        </div>
      </section>

      <section class="bg-slate-300 min-h-screen py-20">
        <div class="flex flex-col gap-12 items-center justify-center max-w-5xl mx-auto">
          <h2>
            Work
          </h2>

          <ul class="mt-20 space-y-40 text-left">
            {work.map((item, index) => (
              <WorkRow
                title={item.frontmatter.title}
                url={item.frontmatter.url}
                image={item.frontmatter.image}
                color={item.frontmatter.color}
                role={item.frontmatter.role}
                tech={item.frontmatter.tech}
                index={index}
              />
            ))}
          </ul>
        </div>
      </section>

      <section class="flex flex-col items-center justify-center px-5 py-20 text-center">
        <h2>
          Select Clients
        </h2>

        <p class="max-w-2xl mx-auto mt-4 font-serif text-xl sm:text-2xl">
          I’m proud to have worked with a wide variety of companies and organizations over the years. Here’s just a few of them!
        </p>

        <ul class="grid grid-cols-2 gap-10 mt-20 md:grid-cols-5">
          {featuredClients.map(client => (
            <li class="flex flex-col items-center justify-center p-2 text-center">
              <img src="/images/${client.image}" loading="lazy" alt={client.name} class="max-w-[75%] max-h-[30px]">
            </li>
          ))}
        </ul>

        <details class="mt-10 max-w-4xl">
          <summary class="cursor-pointer select-none text-center mx-auto w-[10ch]">
            More
          </summary>
          <ul class="mt-10 columns-3 sm:columns-4 gap-x-10 leading-4 text-sm text-neutral-500">
            {remainingClients.map(client => (
              <li class="break-inside-avoid flex items-center justify-center py-1">
                {client.name}
              </li>
            ))}
          </ul>
        </details>
      </section>
    </main>
  </body>
</html>
