---
import { Picture } from '@astrojs/image/components';

const { title, url, cardImage, color, extended = false } = Astro.props
---

<li
  class:list={[
    'bg-zinc-50 dark:bg-zinc-700',
    'flex flex-col relative',
    'rounded-md overflow-hidden shadow-md hover:shadow-lg',
    'transform-gpu duration-200 hover:scale-[1.03]',
  ]}
>
  <Picture
    src={cardImage}
    alt={`Screenshot of ${title} work`}
    aspectRatio="16:9"
    widths={[750, 900, 1200]}
    sizes="(min-width: 1024px) 682px, (min-width: 640px) 33.33vw, 100vw"
    style={`background-color:${color}`}
    class="aspect-video"
    loading={null}
  />
  <h3
    class:list={[
      'border-t-4 text-center dark:text-zinc-50',
      {
        'p-4': extended,
        'p-2': !extended,
        'text-lg sm:text-xl': extended,
      }
    ]}
    style={`border-color:${color}`}
  >
    <a href={url} class="no-underline after:absolute after:inset-0">
      {title}
    </a>
  </h3>
</li>
