---
import { type CollectionEntry, getCollection, render } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Picture } from 'astro:assets'

export async function getStaticPaths() {
  const workEntries = await getCollection('work')
  return workEntries.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<'work'>
}

const { entry } = Astro.props
const { data } = entry
const { Content } = await render(entry)
const imageResponse = await fetch(`${data.heroImage}-/json/`)
const imageData = await imageResponse.json()
const ogImage = data.socialImage || data.heroImage
---

<BaseLayout title={data.title} image={ogImage}>
  <div
    class:list={[
      'hero',
      'gc-feature',
      {
        '-single': data.singleDeviceHero,
      },
    ]}
  >
    <Picture
      src={data.heroImage}
      alt="Device screenshots"
      width={imageData.width}
      height={imageData.height}
      widths={[750, 1000, 1250, 1500, 1800]}
      sizes="(min-width: 58.875em) 896px, calc(100vw - 2.5rem)"
      formats={['avif', 'webp']}
      fallbackFormat="webp"
      loading="eager"
      fetchpriority="high"
    />
  </div>

  <h1>{data.title}</h1>

  <div class="project-info gc-feature">
    <dl>
      <dt>Client</dt>
      <dd>
        {data.client}
      </dd>
    </dl>
    <dl>
      <dt>Role</dt>
      <dd>
        {Array.isArray(data.role) ? data.role.join(', ') : data.role}
      </dd>
    </dl>
    <dl class="tech">
      <dt>Tech</dt>
      <dd>
        {Array.isArray(data.tech) ? data.tech.join(', ') : data.tech}
      </dd>
    </dl>
  </div>

  <div class="flow prose subgrid gc-full">
    <Content />
  </div>

  {
    (data.websiteUrl || data.caseStudyUrl) && (
      <div class="links">
        {data.websiteUrl && <a href={data.websiteUrl}>View Site →</a>}
        {data.caseStudyUrl && <a href={data.caseStudyUrl}>Read Case Study →</a>}
      </div>
    )
  }
</BaseLayout>

<style>
  .hero {
    &.-single {
      margin: 0 auto;
      max-width: 44rem;
    }

    :global(img) {
      width: 100%;
    }
  }

  h1 {
    margin-block-start: 2rem;
    text-align: center;
  }

  .project-info {
    border-block: 1px solid rgb(212 212 216);
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-block-start: 2rem;
    padding-block: 2rem;
    text-wrap: pretty;

    @media (prefers-color-scheme: dark) {
      border-block-color: rgb(113 113 122);
    }

    @media (width >= 40em) {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: space-around;
    }

    dl.tech {
      @media (width < 40em) {
        grid-column: span 2;
      }
    }

    dt {
      color: var(--text-color-bright);
      font-size: 0.75rem;
      letter-spacing: 0.05em;
      line-height: 1rem;
      text-transform: uppercase;
    }

    dd {
      line-height: 1.25;
      margin-block-start: 0.25rem;
    }
  }

  .prose {
    margin-block: 2rem;
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-block: 2rem;
  }
</style>
