---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Picture } from 'astro:assets'

export async function getStaticPaths() {
  const workEntries = await getCollection('work')
  return workEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

type Props = {
  entry: CollectionEntry<'work'>
}

const { entry } = Astro.props

const { data, render } = entry
const { Content } = await render()

const imageResponse = await fetch(`${data.heroImage}-/json/`)
const imageData = await imageResponse.json()
---

<BaseLayout title={data.title}>
  <div
    class:list={[
      'gc-feature',
      {
        'mx-auto max-w-[44rem]': data.singleDeviceHero,
      },
    ]}
  >
    <Picture
      src={data.heroImage}
      alt="Device screenshots"
      width={imageData.width}
      height={imageData.height}
      widths={[750, 1000, 1250, 1500, 1800]}
      sizes="(min-width: 58.875em) 896px, calc(100vw - 2.5rem)"
      formats={['avif', 'webp']}
      fallbackFormat="webp"
      class="w-full"
      loading="eager"
    />
  </div>

  <h1 class="mt-8 text-center">
    {data.title}
  </h1>

  <div
    class="gc-feature border-y dark:border-zinc-500 mt-8 py-8 grid grid-cols-2 sm:flex sm:flex-row sm:justify-around gap-4 sm:gap-8 text-pretty"
  >
    <dl>
      <dt class="text-xs tracking-wider uppercase">Client</dt>
      <dd class="leading-5 mt-1">
        {data.client}
      </dd>
    </dl>
    <dl>
      <dt class="text-xs tracking-wider uppercase">Role</dt>
      <dd class="leading-5 mt-1">
        {Array.isArray(data.role) ? data.role.join(', ') : data.role}
      </dd>
    </dl>
    <dl class="col-span-2">
      <dt class="text-xs tracking-wider uppercase">Tech</dt>
      <dd class="leading-5 mt-1">
        {Array.isArray(data.tech) ? data.tech.join(', ') : data.tech}
      </dd>
    </dl>
  </div>

  <div class="flow prose subgrid gc-full mx-auto my-8">
    <Content />
  </div>

  {
    (data.websiteUrl || data.caseStudyUrl) && (
      <div class="flex justify-center gap-8 py-8">
        {data.websiteUrl && <a href={data.websiteUrl}>View Site →</a>}
        {data.caseStudyUrl && <a href={data.caseStudyUrl}>Read Case Study →</a>}
      </div>
    )
  }
</BaseLayout>

<style>
  dt {
    color: var(--text-color-bright);
  }
</style>
